{
  "additions": [
    {
      "key": "demo45",
      "ammoId": "tacz:demo45",
      "displayName": "Demo .45",
      "outputItem": {
        "casing": "createtaczrecipe:empty_demo45_casing",
        "roughBullet": "createtaczrecipe:rough_demo45_bullet",
        "polishedBullet": "createtaczrecipe:polished_demo45_bullet",
        "transitional": "createtaczrecipe:incomplete_demo45_round"
      },
      "molds": { "casing": "createtaczrecipe_demo45_casing", "bullet": "createtaczrecipe_demo45_bullet" },
      "materials": {
        "casing": { "tag": "createtaczrecipe:materials/brass_blanks" },
        "bullet": { "tag": "createtaczrecipe:materials/copper_blanks" },
        "casingUnits": 5,
        "bulletUnits": 5
      },
      "chargeLevel": "light",
      "counts": { "casing": 20, "roughBullet": 20, "polishedBullet": 1, "assembly": 1 }
    }
  ]
}
