{
  "additions": [
    {
      "key": "12g",
      "ammoId": "tacz:12g",
      "displayName": "12 Gauge",
      "outputItem": {
        "casing": "createtaczrecipe:empty_12g_casing",
        "roughBullet": "createtaczrecipe:rough_12g_bullet",
        "polishedBullet": "createtaczrecipe:polished_12g_bullet",
        "transitional": "createtaczrecipe:incomplete_12g_round"
      },
      "molds": { "casing": "createtaczrecipe_external_casing", "bullet": "createtaczrecipe_external_bullet" },
      "materials": {
        "casing": { "tag": "createtaczrecipe:materials/brass_blanks" },
        "bullet": { "tag": "createtaczrecipe:materials/copper_blanks" },
        "casingUnits": 5,
        "bulletUnits": 5
      },
      "chargeLevel": "standard",
      "counts": { "casing": 24, "roughBullet": 24, "polishedBullet": 1, "assembly": 1 }
    }
  ]
}
